<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="SwaggerWcfBug.DemoService">
        <endpoint address="soap"
                  binding="basicHttpBinding"
                  contract="SwaggerWcfBug.IServiceContract" />
        <endpoint address="json"
                  binding="webHttpBinding"
                  contract="SwaggerWcfBug.IServiceContract"
                  behaviorConfiguration="jsonBehavior" />
      </service>
    </services>
    
    <!-- diagnostic -->
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <!-- end of diagnostic -->
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <swaggerwcf>
    <tags>
      <tag name="LowPerformance" visible="false" />
    </tags>
    <settings>
      <setting name="BasePath" value="/DemoService.svc/json"/>
      <setting name="InfoDescription" value="A micro service to demo Swagger bug" />
      <setting name="InfoVersion" value="0.0.1" />
      <setting name="InfoTermsOfService" value="" />
      <setting name="InfoTitle" value="Swagger Bug Demo Service" />
      <setting name="InfoContactName" value="" />
      <setting name="InfoContactUrl" value="" />
      <setting name="InfoContactEmail" value="" />
      <setting name="InfoLicenseUrl" value="" />
      <setting name="InfoLicenseName" value="" />
    </settings>
  </swaggerwcf>
  
</configuration>
